 <!DOCTYPE html>
<html>
<body >
<div class="all">
<h1 >Cyclone Watch test app</h1>
<h1 >Image Upload </h1>
<form method="POST" enctype="multipart/form-data" style="margin-left: 20vw;">
    {% csrf_token %}
    <input type="file" name="upload" accept=".jpg,.jpeg,.png,.jfif" />
    <br>
    <input type="submit" value="submit" />
</form>

<br>
<br>
<!--<p><p>{{ file_url }}</p></p>-->
<!-- <p style="margin-left: 20vw;">{{ pred }}</p> -->
</div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.clouds.min.js"></script>
<script>
VANTA.CLOUDS({
  el: "body",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00
})
</script>
</html>